#resultadosLista {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dividir el contenedor en tres columnas de igual tamaño */
    gap: 20px; /* Espaciado entre las columnas y filas */
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.producto {
    background-color: rgb(47, 129, 141) !important;
    border: 1px solid #f3f5f8 !important;
    padding: 20px !important;
    text-align: center !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) !important;
}
.producto img {
    width: 100%;
    height: auto;
    object-fit: cover;  /* Asegura que la imagen cubra todo el espacio disponible */
}

.producto {
    padding: 10px;  /* Agrega un poco de espacio alrededor de cada tarjeta */
}


h1 {
    text-align: center !important;
    margin-bottom: 30px !important;
}

header {
    background-color: rgb(53, 100, 105);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 20%;
}

.titulo {
    margin: 0;
}

nav {
    display: flex;
}

.enlace {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(54, 121, 128);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


/* Agrega estilos para limitar el tamaño de las imágenes dentro de las tarjetas */
